<!doctype html>
<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.10.3.custom.css">
<style type="text/css">
  div.rectangle {
    position: absolute;
    background: red;
    border: 2px solid black;
    padding: 1em;
  }
</style>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>
<script src="js/angular.js"></script>
<script src="js/myscript.js"></script>
</head>
      
<body>

<div ng-controller="AbcController">
  <!-- Proof that I have two-way binding through Angular -->
  <table><tr>
    <td>X position</td>
    <td>Y position</td>
  </tr><tr>
    <td><input ng-model="x">
    <td><input ng-model="y">
  </tr><tr>
    <td>Width</td>
    <td>Height</td>
  </tr><tr>
    <td><input ng-model="w">
    <td><input ng-model="h">
  </tr></table>

  <!-- TODO: find way to move the explicit style bindings for x,y,w,h into a library -->
  <div rectangle class="rectangle" ng-style="{left: x+'px', top: y+'px', width: w+'px', height: h+'px'}"></div>
</div>

</body>
</html>
