<!doctype html>
<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.10.3.custom.css">
<style type="text/css">
  div.rectangle {
    position: absolute;
    background: red;
    border: 2px solid black;
    padding: 1em;
  }
  input { width: 4em; }
</style>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>
<script src="js/angular.js"></script>
<script src="js/myscript.js"></script>
</head>
      
<body>

<div ng-controller="AbcController">
  <!-- Proof that I have two-way binding through Angular -->
  <div ng-repeat="rectangle in rectangles">
    <b>Rectangle {{$index}}</b>
    <table><tr>
      <td>X position</td>
      <td>Y position</td>
      <td>Width</td>
      <td>Height</td>
    </tr><tr>
      <td><input ng-model="rectangle.x">
      <td><input ng-model="rectangle.y">
      <td><input ng-model="rectangle.w">
      <td><input ng-model="rectangle.h">
    </tr></table>
  </div>

  <div ng-repeat="rectangle in rectangles" rectangle class="rectangle"
       ng-style="{left:   rectangles[$index].x+'px',
                  top:    rectangles[$index].y+'px',
                  width:  rectangles[$index].w+'px',
                  height: rectangles[$index].h+'px'}">Rectangle ID {{$index}}</div>
</div>

</body>
</html>
