<!doctype html>
<!-- inspiration: http://plnkr.co/edit/VFbP9h?p=preview -->
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>LDT v0.2</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery-1.9.1.js"></script>
  <script src="lib/jquery-ui-1.10.3.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/underscore.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</head>
<body ng-controller="GraphCtrl">

  <!-- DEBUG -->
  <!--
  <div ng-repeat="entity in entities">
  Entity {{$index}}
  <input type="text" ng-model="entity.name"></input>
  <input type="text" ng-model="entity.x"></input>
  <input type="text" ng-model="entity.y"></input>
  <input type="text" ng-model="entity.width"></input>
  <input type="text" ng-model="entity.height"></input>
  <input type="text" ng-model="entity.attributes"></input>
  </div>
  -->
  <p>{{editor.mode}}</p>

  <!-- CANVAS element
  Scope watches: none
  UI events:
    select mode: left click deselects all entities, and potentially selects a relationship
    new entity mode: create entity
  -->
  <div canvas id="canvas">
    <div class="entity-border" ng-repeat="entity in graph.entities"
       move-with="entity" resize-with="entity" select-with="entity"
       ng-style="{ left: entity.x, top: entity.y, width: entity.width, height: entity.height }">

      <div class="entity-heading" entity-heading>
        <span class="entity-name" ng-show="!renaming">{{entity.name}}</span>
        <input class="entity-name-input" ng-show="renaming" ng-model="entity.name">
      </div>
      <div class="entity-body">
        <div class="attribute" ng-repeat="attribute in entity.attributes">{{attribute}}</div>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <path relationship style="fill:none;stroke:black;stroke-width:2px" ng-attr-d="{{editor.linePath()}}"></path>
    </svg>
  </div>

</body>
</html>
