<!doctype html>
<!-- inspiration: http://plnkr.co/edit/VFbP9h?p=preview -->
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>LDT v0.2</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery-1.9.1.js"></script>
  <script src="lib/jquery-ui-1.10.3.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/underscore.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</head>
<body ng-controller="GraphCtrl">

  <!-- DEBUG -->
  <!--
  <div ng-repeat="entity in graph.entities">
  Entity {{$index}}
  <input type="text" ng-model="entity.name"></input>
  <input type="text" ng-model="entity.x"></input>
  <input type="text" ng-model="entity.y"></input>
  <input type="text" ng-model="entity.width"></input>
  <input type="text" ng-model="entity.height"></input>
  <input type="text" ng-model="entity.attributes"></input>
  </div>
  -->
  <div id="toolbar">
    <button action hotkey="s">Select</button>
    <button action hotkey="e">New Entity</button>
    <button action hotkey="r">New Relationship</button>
    <button action hotkey="d">Delete</button>
    <button action>Save</button>
    <span>{{editor.mode}}</span>
  </div>

  <!-- CANVAS element
  Scope watches: none
  UI events:
    select mode: left click deselects all entities, and potentially selects a relationship
    new entity mode: create entity
  -->
  <div canvas id="canvas">
    <div class="entity-border" ng-repeat="entity in graph.entities"
       move-with="entity" resize-with="entity" select-with="click as entity in #canvas"
       ng-style="{ left: entity.x, top: entity.y, width: entity.width, height: entity.height }">
      <div class="select-shield" ng-show="editor.entityOverlay" catch-input ng-click="handleEntityClick(entity)">
        <br><br>{{editor.entityOverlayMessage}}
      </div>
      <div class="entity-heading" select-with="dblclick as heading in #canvas" auto-focus="input on dblclick">
        <span class="entity-name" ng-show="!heading.selected">{{entity.name}}</span>
        <input catch-input class="entity-name-input" ng-show="heading.selected" ng-model="entity.name">
      </div>
      <div class="entity-body" select-with="dblclick as body in #canvas" ng-style="{ height: (entity.height - 70) + 'px' }" forward-event="dblclick to textarea">
        <pre class="attribute" ng-show="!body.selected">{{entity.attributes}}</pre>
        <textarea catch-input class="attribute-input" ng-show="body.selected" ng-model="entity.attributes" ng-style="{ height: (entity.height - 70) + 'px' }"></textarea>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <path relationship style="fill:none;stroke:black;stroke-width:2px" ng-attr-d="{{editor.linePath()}}"></path>
    </svg>
  </div>

</body>
</html>
