<!doctype html>
<!-- inspiration: http://plnkr.co/edit/VFbP9h?p=preview -->
<html ng-app="ldt" >
<head>
  <meta charset="utf-8">
  <title>LDT v0.2</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <script src="http://code.angularjs.org/1.1.0/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="GraphCtrl">

  <div ng-repeat="entity in entities">
  Entity {{$index}}
  <input type="text" ng-model="entity.name"></input>
  <input type="text" ng-model="entity.x"></input>
  <input type="text" ng-model="entity.y"></input>
  <input type="text" ng-model="entity.width"></input>
  <input type="text" ng-model="entity.height"></input>
  <input type="text" ng-model="entity.attributes"></input>
  </div>

  <div entity class="entity-border" ng-repeat="entity in entities" ng-style="{ top: entity.y + 'px', left: entity.x + 'px', width: entity.width + 'px', height: entity.height + 'px'}">
    <div class="entity-heading">
      {{entity.name}}
    </div>
    <div class="entity-body">
      <div class="attribute" ng-repeat="attribute in entity.attributes">{{attribute}}</div>
    </div>
  </div>

</body>
</html>
