<div id="editor" ng-controller="EditorCtrl" ng-class="editor.mode + ' ' + (guideEnabled ? 'guide-enabled' : '')">

  <div id="loading-indicator" ng-hide="graph.id">{{status_message}}</div>
  <div id="graph" ng-show="graph.id">

    <!-- DEBUG -->
    <!--
    <div ng-repeat="entity in graph.entities">
    Entity {{$index}}
    <input type="text" style="width:  40px" ng-model="entity.id">
    <input type="text" style="width: 140px" ng-model="entity.name">
    <input type="text" style="width:  40px" ng-model="entity.x">
    <input type="text" style="width:  40px" ng-model="entity.y">
    <input type="text" style="width:  40px" ng-model="entity.width">
    <input type="text" style="width:  40px" ng-model="entity.height">
    <input type="text" style="width: 140px" ng-model="entity.attributes">
    </div>
    -->
    <div id="window-top">
      <input id="graph-name" ng-model="graph.name" catch-input no-drag>
      <div id="toolbar" class="noselect">
          <button action hotkey="s" id="select-button"><u>S</u>elect</button>
          <button action hotkey="e" id="new-entity-button">New <u>E</u>ntity</button>
          <button action hotkey="r" id="new-relationship-button">New <u>R</u>elationship</button>
          <button action hotkey="x" id="delete-item-button">Delete Item</button>
          <button action hotkey="a" id="label-button">L<u>a</u>bel</button>
          <button action hotkey="d" id="degree-button"><u>D</u>egree</button>
          <button action hotkey="b" id="identifier-bar-button">Identifier <u>B</u>ar</button>
          <span class="toolbar-separator">&nbsp;</span>
          <button action hotkey="i" id="zoom-in-button">Zoom <u>I</u>n</button>
          <button action hotkey="o" id="zoom-out-button">Zoom <u>O</u>ut</button>
          <span class="toolbar-separator">&nbsp;</span>
          <div class="positioner"><div id="save-message" ng-class="editor.saveStatus">{{ editor.saveMessage }}</div></div>
          <button action hotkey="c-s" id="save-button">Save</button>
          <button action hotkey="c-n" id="new-button">New</button>
          <span class="toolbar-separator">&nbsp;</span>
					<button action hotkey="g" id="guide-button"><u>G</u>uide</button>
					<!--<label><input type="checkbox" name="showSyntaxErrors" action></input>Syntax Errors</label>-->
      </div>
    </div>

    <div class="getting-started"
         ng-show="getting_started_message_num >= 0"
         ng-style="{ left: getting_started_messages[getting_started_message_num].left }">
      <svg class="pointer" width="30" height="15" style="margin-top: -15px; margin-bottom: 15px; margin-left: 15px">
        <polyline points="0,15 15,0 30,15" />
      </svg>
      <p style="margin-top: -5px">{{ getting_started_messages[getting_started_message_num].message }}</p>
    </div>

    <div id="canvas" class="noselect" move-and-resize="graph.pan" relative-click="handleCanvasClick" deselector ng-style="{ transform: 'scale(' + graph.zoom + ')' }">

        <div class="ghost-entity" stick-to-mouse>Click to place new entity</div>

        <div class="entity-border"
             id="entity-{{entity.id}}"
             ng-repeat="entity in graph.entities"
             move-and-resize="entity"
             ng-style="{ left: graph.pan.x + entity.x, top: graph.pan.y + entity.y, width: entity.width, height: entity.height }"
             ng-controller="EntityCtrl">

            <div class="select-shield" catch-input ng-click="handleEntityClick(entity)">
                <br><br>{{editor.entityOverlayMessage}}
            </div>

            <div class="entity-heading"
                 select-with="dblclick as heading"
                 auto-focus="input on dblclick">

                <span class="entity-name">{{entity.name}}</span>
                <input class="entity-name-input"
                       ng-model="entity.name"
                       catch-input no-drag>
            </div>

            <div class="entity-body"
                 select-with="dblclick as body"
                 ng-style="{ height: (entity.height - 70) + 'px' }"
                 forward-event="dblclick to textarea">

                <textarea class="attribute-input"
                          ng-model="entity.attributes"
                          ng-style="{ height: (entity.height - 70) + 'px' }"
                          catch-input no-drag></textarea>

                <div class="attribute"
                     id="entity-{{entity.id}}-attribute-{{$index}}"
                     ng-repeat="attribute in entity.attributes.split('\n') track by attribute + '_' + $index"
                     ng-class="cssClass(attribute)"
                     ng-click="handleAttributeClick(entity.id,$index,$event)"
                     catch-input>

                     <span>{{removeIdentifierIfPresent(attribute)}}</span>
                </div>
            </div>

        </div>

        <div class="endpoint"
             ng-class="endpoint.sideName"
             ng-repeat="endpoint in graph.endpoints"
             ng-click="handleLabelClick(label.id,$event)"
             ng-style="{ left: graph.pan.x + endpoint.x, top: graph.pan.y + endpoint.y }"
             select-with="dblclick as endpoint"
             catch-input
             auto-focus="input on dblclick">

            <div class="label"
                 ng-class="{selected: endpoint.selected===true}">

                <span catch-input id="label-{{$index}}">{{endpoint.label}}</span>

                <input ng-model="endpoint.label" no-drag
                       id="label-input-{{$index}}"
                       ng-click="handleLabelClick(label.id,$event)">

            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svg-paths">
          <g transform="translate({{graph.pan.x}},{{graph.pan.y}})">
            <!-- embedded "stroke: black" style here for Safari which won't recognize styles applied to <path> elements by CSS class -->
            <path ng-repeat="a in relationshipAnnotations" ng-class="{syntaxError: a.isError, syntaxWarning: a.isWarning}" ng-attr-d="{{a.svgPath()}}" catch-input><title>{{a.annotationMessage}}</title></path>
            <text ng-repeat="e in graph.endpoints | filter: { symbol: '?' }" x="{{e.questionMarkX()}}" y="{{e.questionMarkY()}}">?</text>
            <path class="relationship" ng-repeat="r in graph.relationships" id="relationship-{{r.id}}" ng-attr-d="{{r.linePath()}}"       style="stroke: black"></path>
            <path class="arrowhead"    ng-repeat="e in graph.endpoints"     id="endpoint-{{$index}}"   ng-attr-d="{{e.arrowheadPath()}}" style="stroke: black"></path>
            <path class="click-area"   ng-repeat="e in graph.endpoints"     id="click-area-{{$index}}" ng-attr-d="{{e.boxPath()}}" ng-click="handleArrowClick(e,$event)" catch-input></path>
            <path class="click-path"   ng-repeat="r in graph.relationships" id="click-path-{{r.id}}"   ng-attr-d="{{r.clickablePath()}}" ng-click="handleRelationshipClick(r)" drag-reroute="r" catch-input></path>
          </g>
        </svg>

    </div>

  </div>
</div>
