<div id="editor" ng-controller="EditorCtrl" ng-class="editor.mode">

  <!-- DEBUG -->
  <!--
  <div ng-repeat="entity in graph.entities">
  Entity {{$index}}
  <input type="text" style="width:  40px" ng-model="entity.id"></input>
  <input type="text" style="width: 140px" ng-model="entity.name"></input>
  <input type="text" style="width:  40px" ng-model="entity.x"></input>
  <input type="text" style="width:  40px" ng-model="entity.y"></input>
  <input type="text" style="width:  40px" ng-model="entity.width"></input>
  <input type="text" style="width:  40px" ng-model="entity.height"></input>
  <input type="text" style="width: 140px" ng-model="entity.attributes"></input>
  </div>
  -->
  <input id="graph-name" ng-model="graph.name" catch-input>
  <div id="toolbar">
    <button action hotkey="s" id="select-button"><u>S</u>elect</button>
    <button action hotkey="e" id="new-entity-button">New <u>E</u>ntity</button>
    <button action hotkey="r" id="new-relationship-button">New <u>R</u>elationship</button>
    <button action hotkey="d" id="delete-button"><u>D</u>elete</button>
    <button action hotkey="l" id="label-button"><u>L</u>abel</button>
    <span class="toolbar-separator">&nbsp;</span>
    <button action id="save-button">{{ editor.saveButtonText }}</button>
  </div>

  <div canvas id="canvas" ng-controller="GraphCtrl" ng-click="handleCanvasClick($event)">
    <div class="entity-border" ng-repeat="entity in graph.entities"
       move-with="entity" resize-with="entity"
       ng-style="{ left: entity.x, top: entity.y, width: entity.width, height: entity.height }">
      <div class="select-shield" catch-input ng-click="handleEntityClick(entity)">
        <br><br>{{editor.entityOverlayMessage}}
      </div>
      <div class="entity-heading" select-with="dblclick as heading in #canvas" auto-focus="input on dblclick">
        <span class="entity-name" ng-show="!heading.selected">{{entity.name}}</span>
        <input catch-input class="entity-name-input" ng-show="heading.selected" ng-model="entity.name">
      </div>
      <div class="entity-body" select-with="dblclick as body in #canvas" ng-style="{ height: (entity.height - 70) + 'px' }" forward-event="dblclick to textarea">
        <div class="attribute" ng-show="!body.selected" ng-repeat="attribute in entity.attributes.split('\n')" ng-class="cssClass(attribute)" ng-click="handleAttributeClick(entity.id,$index,$event)"><span>{{removeIdentifierIfPresent(attribute)}}</span></div>
        <textarea catch-input class="attribute-input" ng-show="body.selected" ng-model="entity.attributes" ng-style="{ height: (entity.height - 70) + 'px' }"></textarea>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <path class="relationship" ng-repeat="r in graph.decoratedRelationships" ng-attr-d="{{r.svgPath()}}"></path>
      <path class="arrowhead"    ng-repeat="a in graph.arrowheads" ng-attr-d="{{a.path}}"></path>
      <path class="click-area"   ng-repeat="a in graph.arrowheads" ng-attr-d="{{a.box}}" ng-click="handleArrowClick(a,$event)" catch-input></path>
      <path class="click-path"   ng-repeat="r in graph.decoratedRelationships" ng-attr-d="{{r.svgPath()}}" ng-click="handleRelationshipClick(r)" catch-input></path>
    </svg>

    <div class="label" ng-repeat="label in graph.labels" select-with="dblclick as lbl in #canvas"
         ng-click="handleLabelClick(label.id,$event)" catch-input ng-style="{ left: label.x, top: label.y }">
         <span ng-show="!lbl.selected" ng-style="{ float: label.direction }" catch-input>{{label.text}}</span>
      <input ng-model="label.text" ng-show="lbl.selected" ng-click="handleLabelClick(label.id,$event)">
    </div>

  </div>

</div>
