body {
  margin: 0px;
}

#canvas { position: relative; }

#toolbar {
  background: #eee;
  border-bottom: #999;
  margin: 0px;
  padding: 5px;
}

.entity-border.selected {
  display: inline-block;
  background: #fd8;
}

.selected .entity-heading {
  background: #fb0;
}

.entity-border {
  position: absolute;
  display: inline-block;
  padding: 0px;
  background: #eee;
  border: 1px solid black;
}

.entity-heading {
  padding: 10px;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
  background: #cdf;
}

.entity-heading input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin: -2px;
  padding: 0;
}

.entity-body {
  padding: 10px;
}

.entity-body textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  margin: 0px;
  padding: 0;
}


.attribute, .attribute-input  {
  margin: 1px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.select-shield {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

#canvas.select     .select-shield,
#canvas.new_entity .select-shield   { display: none; }

#canvas.delete .select-shield       { background: rgba(255,230,230,0.75); }
#canvas.delete .select-shield:hover { background: rgba(255,170,170,0.75); }
#canvas.delete .select-shield:hover { background: rgba(255,170,170,0.75); }

#canvas.new_relationship_start .select-shield,
#canvas.new_relationship_end   .select-shield
                                    { background: rgba(230,255,230,0.75); }

#canvas.new_relationship_start .select-shield:hover,
#canvas.new_relationship_end   .select-shield:hover
                                    { background: rgba(170,255,170,0.75); }

path.relationship, path.arrowhead {
  fill:none;
  stroke: black;
  stroke-width: 1px
}

path.click-path { fill: none; stroke: none; }

#canvas.delete path.click-path {
  fill: none;
  stroke: rgba(255,230,230,0.75);
  stroke-width: 20px;
}

#canvas.delete path.click-path:hover {
  stroke: rgba(255,170,170,0.75);
}

path.click-rect {
  fill: none;
  stroke: none;
}
