.entity-body, .entity-heading {
  padding: 10px;
}

.entity-body {
}

.entity-heading {
  margin-bottom: 2px;
  border-bottom: 2px solid #777;
  background: #cdf;
}

.entity-heading input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin: -2px;
  padding: 0;
}

.entity-border {
  position: absolute;
  display: inline-block;
  padding: 0px;
  background: #eee;
  border: 2px solid #777;
}

.attribute {
  background: #ddd;
  margin: 1px;
}

#canvas { position: relative; }
