
<div class="entity" title="Entity">
  <u>name</u><BR>
  x<BR>
  y<BR>
  width<BR>
  height<BR>
</div>

<div class="entity" title="Relationship">
  max degree 1<BR>
  max degree 2<BR>
  label 1<BR>
  label 2<BR>
  ID 1<BR>
  ID 2<BR>
</div>

<div class="entity" title="Attribute">
  <u>name</u><BR>
  type<BR>
</div>
     
<script type="text/javascript">
    $(function() {
        $( ".entity" ).dialog();
    });
</script>
