body {
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

input {
  font-size: inherit;
  font-family: inherit;
  margin: -5px -3px;
}

#graph-name { width: 80%; }

#graph-name {
  margin: 0.5em;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 16pt;
  border: none;
}

#canvas { position: relative; }

#toolbar {
  background: #eee;
  border-bottom: #999;
  margin: 0px;
  padding: 5px;
  padding-left: 30px;
}

#toolbar button {
  background: inherit;
  border: none;
  padding: 0.5em 1em;
}

span.toolbar-separator {
  display: inline-block;
  width: 2px;
  height: 20px;
  background: #ccc;
}

#editor.select     .select-shield,
#editor.new_entity .select-shield   { display: none; }

#editor.delete .select-shield       { background: rgba(255,230,230,0.75); }
#editor.delete .select-shield:hover { background: rgba(255,170,170,0.75); }
#editor.delete .select-shield:hover { background: rgba(255,170,170,0.75); }

#editor.new_relationship_start .select-shield,
#editor.new_relationship_end   .select-shield
                                    { background: rgba(230,255,230,0.75); }

#editor.new_relationship_start .select-shield:hover,
#editor.new_relationship_end   .select-shield:hover
                                    { background: rgba(170,255,170,0.75); }

/* Mode and sub-mode indication in toolbar */
#editor.select #select-button,
#editor.new_entity #new-entity-button,
#editor.new_relationship_start #new-relationship-button,
#editor.new_relationship_end   #new-relationship-button,
#editor.delete #delete-button,
#editor.label_pick #label-button,
#editor.label_enter #label-button
 { background-color: #bbb; }

path.relationship, path.arrowhead {
  fill: none;
  stroke: black;
  stroke-width: 1px
}

path.click-path { fill: none; stroke: none; }

#editor.delete path.click-path {
  fill: none;
  stroke: rgba(255,230,230,0.75);
  stroke-width: 20px;
}

#editor.delete path.click-path:hover {
  stroke: rgba(255,170,170,0.75);
}

#editor.label_pick path.click-area {
  fill: rgba(255,255,0,0.30);
  stroke: none;
}

#editor.label_pick path.click-area:hover {
  fill: rgba(255,230,0,0.70);
}

path.click-area {
  fill: rgba(255,255,255,0);
  stroke: none;
}

#save-message {
  float: right;
  padding: 5px;
  color: #888;
}

#account {
  text-align: right;
  padding: 0.5em;
  padding-right: 2em;
  display: block;
  float: right;
  width: 150px;
}
