body {
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

html { width: 200%; height: 200%; }

body, #editor, #canvas, svg { width: 100%; height: 100%; }

svg {
  border-right:  1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

input {
  font-size: inherit;
  font-family: inherit;
  margin: -5px -3px;
}

#graph-name { width: 80%; }

#graph-name {
  margin: 0.5em;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 16pt;
  border: none;
}

#canvas { position: relative; }

#toolbar {
  background: #eee;
  border-bottom: #999;
  margin: 0px;
  padding: 5px;
  padding-left: 30px;
}

#toolbar button {
  background: inherit;
  border: none;
  padding: 0.5em 1em;
}

span.toolbar-separator {
  display: inline-block;
  width: 2px;
  height: 20px;
  background: #ccc;
}

#editor .ghost-entity,
#editor .select-shield,
#editor .select-shield   { display: none; }

#editor.delete_item .select-shield       { background: rgba(255,230,230,0.75); display: block; }
#editor.delete_item .select-shield:hover { background: rgba(255,170,170,0.75); }
#editor.delete_item .select-shield:hover { background: rgba(255,170,170,0.75); }

#editor.new_relationship_start .select-shield,
#editor.new_relationship_end   .select-shield
                                    { background: rgba(230,255,230,0.75); display: block; }

#editor.new_relationship_start .select-shield:hover,
#editor.new_relationship_end   .select-shield:hover
                                    { background: rgba(170,255,170,0.75); display: block; }

#editor.new_entity .ghost-entity {
  display: block;
  position: absolute;
  width: 100px;
  height: 130px;
  background: rgba(170,255,170,0.75);
  border: 1px solid rgba(85,128,85,0.75);
  padding: 10px;
  padding-top: 1em;
  text-align: center;
  z-index: 5;
}

/* Mode and sub-mode indication in toolbar */
#editor.select #select-button,
#editor.new_entity #new-entity-button,
#editor.new_relationship_start #new-relationship-button,
#editor.new_relationship_end   #new-relationship-button,
#editor.delete_item #delete-item-button,
#editor.label_pick #label-button,
#editor.label_enter #label-button,
#editor.chickenfoot #chickenfoot-button,
#editor.identifier_bar #identifier-bar-button
 { background-color: #bbb; }

path {
  fill: none;
}

path.relationship, path.arrowhead {
  stroke: black;
  stroke-width: 1px
}

path.click-path { fill: none; stroke: none; }

#editor.delete_item path.click-path {
  fill: none;
  stroke: rgba(255,230,230,0.75);
  stroke-width: 20px;
}

#editor.delete_item path.click-path:hover {
  stroke: rgba(255,170,170,0.75);
}


#editor.label_pick     path.click-area,
#editor.chickenfoot    path.click-area,
#editor.identifier_bar path.click-area {
  fill: rgba(0,255,0,0.15);
  stroke: none;
}

#editor.label_pick     path.click-area:hover,
#editor.chickenfoot    path.click-area:hover,
#editor.identifier_bar path.click-area:hover {
  fill: rgba(0,255,0,0.35);
}

#editor.identifier_bar div.attribute {
  background: rgba(0,255,0,0.15);
}
#editor.identifier_bar div.attribute:hover {
  background: rgba(0,255,0,0.35);
}


path.click-area {
  fill: rgba(255,255,255,0);
  stroke: none;
}

.positioner {
  position: relative;
  display: inline-block;
  width: 0px;
  margin: 0px;
  padding: 0px;
}

#save-message {
  position: absolute;
  top: -40px;
  left: 10px;
  color: #888;
}

#account {
  text-align: right;
  padding: 0.5em;
  padding-right: 2em;
  display: block;
  float: right;
  width: 150px;
}

.canvas-click-shield {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}
