div.endpoint {
  position: absolute;
  display: inline-block;
  width: 1px;
}

div.endpoint div.label {
  display: block;
  position: absolute;
  width: 1px;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

div.endpoint.right  div.label { left:  30px; top: -18px; }
div.endpoint.left   div.label { left: -32px; top:   2px; }
div.endpoint.top    div.label { left:  29px; top: -18px; }
div.endpoint.bottom div.label { left: -30px; top:   1px; }

div.endpoint.top, div.endpoint.bottom {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}


div.endpoint div.label          span  { display: block; }
div.endpoint div.label.selected span  { display: none; }
div.endpoint div.label          input { display: none; }
div.endpoint div.label.selected input { display: block; }

/* Ensure text is readable when it overlaps a diagonal relationship */
div.endpoint div.label span,
div.endpoint div.label input {
  background: rgba(255,255,255,0.8);
  white-space: nowrap;
}

/* Just for arrowheads on the left side of an entity, have text flow to the right */
div.endpoint.bottom div.label span,
div.endpoint.bottom div.label input,
div.endpoint.left div.label span,
div.endpoint.left div.label input {
  float: right;
  text-align: right;
}

