div.endpoint {
  position: absolute;
  display: inline-block;
  width: 1px;
}

div.endpoint div.label {
  display: block;
  position: absolute;
  width: 1px;
}

div.endpoint.top    div.label { left:  5px; top: -45px; }
div.endpoint.bottom div.label { left:  5px; top:  27px; }
div.endpoint.right  div.label { left: 30px; top: -20px; }
div.endpoint.left   div.label { left: -32px; top: 5px; }

/* Ensure text is readable when it overlaps a diagonal relationship */
div.endpoint div.label span,
div.endpoint div.label input {
  background: rgba(255,255,255,0.8);
  white-space: nowrap;
}

/* Just for arrowheads on the left side of an entity, have text flow to the right */
div.endpoint.left div.label span,
div.endpoint.left div.label input {
  float: right;
  text-align: right;
}

