.entity-border {
  position: absolute;
  display: inline-block;
  padding: 0px;
  background: #eee;
  border: 1px solid black;
}

.entity-heading {
  padding: 10px;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
  background: #cdf;
}

.entity-heading input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin: -2px;
  padding: 0;
}

.entity-body {
  padding: 10px;
  padding-top: 5px;
}

.entity-body textarea {
  display: none;
}

.entity-body.selected textarea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  margin: 0px;
  padding: 0;
}

.entity-body .attribute span {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  display: inline;
}

.entity-body .attribute.identifier span {
  border-bottom: 1px solid black;
}

.entity-body.selected .attribute span {
  display: none;
}

.attribute-input  {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.select-shield {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
