// Place all the styles related to the Graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0px;
}

table.graph_index td {
  padding: 1em;
}
table.graph_index .graph_date {
  color: #888;
  font-style: italic;
}
table.graph_index .graph_title {
  font-size: 16pt;
  margin-bottom: 0.1em;
}

#header_bar {
  margin: 0px;
  padding: 10px;
  background: #cdf;
}

#header_bar .right_side {
  float: right; 
}

h1 {
  margin: 0.2em;
}
#settings {
  border: 1px solid black;
  background: #bce;
  width: 230px;
  height: 100%;
  float: right;
  clear: both;
  padding: 10px;
}

#settings input {
  width: 210px;
}
#settings textarea {
  width: 210px;
  height: 200px;
}
